html,
body {
  height: 100%;
}



.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login > form > h1{
  font-family: 'Jua', sans-serif;
  padding-bottom: 30px;
  padding: 0 0 20px;
  border-bottom: 2px solid #0d6efd;
  text-align: center;
  line-height: 1;
  font-size: 33px;
  color: black;
}


.form-login input{
  margin-bottom: 20px;
  border-radius: 0;
}


